@import "tailwindcss";

/* I define font faces above the `@theme` at-rule to make sure Tailwind will pick it up */
@font-face {
  font-family: "Zain";
  src: url("/assets/fonts/Zain/Zain-Regular.ttf");
}

@font-face {
  font-family: "Kanit";
  src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
}

@theme {
  --font-ar-primary: "Zain";
  --font-en-primary: "Kanit";
}

[dir="ltr"] {
  font-family: var(--font-en-primary);
}

[dir="rtl"] {
  font-family: var(--font-ar-primary);
}
